body{
    margin:0;
    padding: 0;
    background-color: #fff8f1 ;
    color: #343740;
    font-family: "Poppins", sans-serif;
    }

    .content-feb{
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    text-shadow: 0 7px rgba(0,0,0, .7);
    z-index: 99;
    }

    .content-feb img{
        width: 422px;
        border: 9px solid #fff;
    }

    .body-feb{
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    }

    /*---- Social Sidebar --- */

    .social-icons{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.3rem;
    z-index: 99;
    }

    .icon-feb{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    transition: width .5s ease;
    cursor: pointer;
    padding: 5px 9px;
    }

    .icon-feb img{
        width: 100%;
    }

    .icon-feb:first-child{
    border-top-right-radius: 5px;
    }

    .icon-feb:last-child{
    border-bottom-right-radius: 5px;
    }

    .icon-feb:hover{
    width: 60px;
    }

    .icon-feb.fb{
    background-color: #DFDFDF;
    }

    .icon-feb.tw{
    background-color: #F2F2F2;
    }

    .icon-feb.pt{
    background-color: #DFDFDF;
    }

    .icon-feb.in{
    background-color: #F2F2F2;
    }

    .icon-feb.gp{
    background-color: #DFDFDF;
    }

    .back-header{
        height: 403px; 
        margin-top: 0; 
        margin-bottom: 0; 
        background-color: #3e3e3e; 
        width: 100%; 
        position: absolute;
    }

    .text-header{
        color: #303030; 
        padding-top: 15px; 
        letter-spacing: 8px;
        /* font-family: Roboto,sans-serif; */
    }

    .text-header h1{
        /* font-family: Roboto,sans-serif; */
        font-weight: 200;
        font-size: 50px;
    }

    .text-header h1 b{
      font-weight: 600;
  }
    .text-title{
        color: #939393; 
        padding-top: 0; 
        font-family: initial;
    }
    

    .text-about{
        width: 500px; 
        font-size: 17px; 
        text-align: center;
    }





.tooltip-container {
    position: relative;
    background-color: #ff3cac;
    background-image: linear-gradient( 225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100% );
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    /*padding: 0.7em 1.8em;*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 16px;
  }
  
  .tooltip-container .borde-back {
    width: 60px;
    height: 60px;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: none;
  }
  
  .tooltip-container .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #fff;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  
  .tooltip {
    position: absolute;
    top: -2;
    z-index: -10;
    transform: scaleX(0);
    transform-origin: left center;
    margin-left: 5px;
    height: 50px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s;
    border-radius: 0 50px 50px 0;
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 800px;
    padding-left: 40px;
    margin-left: -25px;
    left: 100%;
  }
  
  .tooltip-container:hover .tooltip {
    transform: unset;
    /* Altere para a posição desejada (a direita) */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: -10;
  }
  
  .tooltip-container:hover {
    transform: translateX(-0px);
    transition: 0.5s linear;
  }
  
  .tooltip-container:hover .icon {
    transform: rotate(360deg);
    transition: 0.5s linear;
  }


  /* ====Button header====== */
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }

  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #e6e6e6;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }

  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #303030;
  }

  .cta img {
    position: relative;
    width: 25px;
    top: -2px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #303030;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .cta:hover:before {
    width: 100%;
    background: #e6e6e6;
  }

  .cta:hover img {
    transform: translateX(0);
  }

  .cta:active {
    transform: scale(0.95);
  }


  .text-header .h1-ex{
    text-align: end; 
    font-size: 5rem;
  }

  .btn-ex{
    background-color: #ec2f2f;
    color: #fff;  
    padding: 10px 21px; 
    border-radius: unset;
  }

  .btn-ex:hover{
    background-color: #d12323;
    color: #fff; 
  }

  .p-ex{
    width: 35rem; 
    padding: 50px;
  }

  .div-ex{
    letter-spacing: 1px; 
    margin-top: 70px;
  }


  .div-edu span, .div-edu p{
    font-size: 21px;
    color: #595959;;
  }

  .btn-edu{
    background-color: #50b787;
    color: #fff;  
    padding: 10px 21px; 
    border-radius: unset;
  }

  .btn-edu:hover{
    background-color: #48a87b;
    color: #fff; 
  }

  .img-edu{
    width: 500px;
  }

  .div-edu{
    background: #ecececab;
    padding: 30px;
    margin: -50px;
    position: absolute;
    top: 40px;
    left: -50px;
  }

  .wrap-edu{
    justify-content: left;
    margin-left: 130px;
  }


  






/* =====Media Responsive==== */


@media (max-width: 1100px) {
  .wrap-edu{
    justify-content: center;
    margin-left: unset;
  }
}


  @media (max-width: 800px) {
    .content-feb img{
      width: 350px;
      border: 9px solid #fff;
  }
    .text-header .h1-ex{
      text-align: end; 
      font-size: 4rem;
  }
    .p-ex{
      width: 100%; 
      padding: 30px;
    }

    .div-edu{
      left: -230px;
    }

    .div-edu h4{
      font-size: 20px;
    }

    .div-edu span, .div-edu p{
      font-size: 17px;
    }

    
  }

  @media (max-width: 630px) {
    .text-header h1 {
      font-size: 38px;
      text-align: center;
      margin-top: 50px;
    }

    .p-ex p{
      text-align: end;
    }

    .text-title h3{
      font-size: 25px;
    }

    .social-icons{
      top: 25%;
    }

    .text-about{
      font-size: 15px;
    }

    .text-header .h1-ex{
      text-align: end; 
      font-size: 3rem;
      margin-right: 46px;
  }

    .div-ex{
      display: contents;
    }

    .div-ex-2{
      margin-top: 70px;
      margin-left: 50px;
    }


    .div-edu{
      text-align: end;
      top: -102px;
      left: 135px;
    }

    .img-edu {
      width: 384px;
    }

  }

  @media (max-width: 530px) {
    .content-feb img{
      width: 250px;
      border: 9px solid #fff;
  }

    .img-edu{
      width: 100%;
      padding: 20px;
    }

    .div-edu{
      left: 67px;
    }
  }

  